<?xml version="1.0"?>

<model>
  <name>major_road_sign_nl</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Demidov Dmitry</name>
    <email>d.demidov@starline.ru</email>
  </author>

  <description>
    major road sign(nl)
    https://3dwarehouse.sketchup.com/model/15cf098ed4b6468eaf0f96046134cc1/Major-road-sign-NL
  </description>
</model>
