<?xml version="1.0"?>

<model>
  <name>Route_Departement_France</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Demidov Dmitry</name>
    <email>d.demidov@starline.ru</email>
  </author>

  <description>
    Route_Departement_France
    https://3dwarehouse.sketchup.com/model/31dd2d1227bf146cea33d1e82afdde21/Provinciale-weg-KBL-bochtinhaalverbod
  </description>
</model>
