<?xml version="1.0"?>

<model>
  <name>autoweg_ongelijkvloerse_kruising</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Demidov Dmitry</name>
    <email>d.demidov@starline.ru</email>
  </author>

  <description>
    autoweg_ongelijkvloerse_kruising
    https://3dwarehouse.sketchup.com/model/406e07384d21e2ea33d1e82afdde21/Ongelijkvloerse-kruising-autoweg-KBL
  </description>
</model>
